.card_multiply .card {
    min-width: 19.3rem;
    height: auto;
    width: 20%;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: transform .5s ease, box-shadow .5ease;
    box-shadow: .06rem .06rem .6rem rgba(0, 0, 0, 0.3);
}
.card_multiply .card:hover {
    transform: translateY(-.75rem);
    box-shadow: 0rem 1.25rem 1.8rem rgba(0, 0, 0, .7);
}
.card_multiply .card img {
    border-radius: 0;
}
.card_multiply .card .card-body span{
    font-size: .8rem;
}
