.ultime-novita {
    margin: 0 auto;
    padding: 2rem;
}

.tab-content .tab-pane .card-clone .card {
    width: 25%;
    min-width: 20rem;
    height: auto;
    border-radius: 0%;
    text-decoration: none;
    color: #161616;
    border-radius: 0rem;
    border: 0rem;
    cursor: pointer;
    box-shadow: .06rem .06rem .6rem rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.tab-content .tab-pane .card-clone .card:hover {
    transform: translateY(-12px);
    box-shadow: 0rem 1.25rem 1.8rem rgba(0, 0, 0, 0.7);
}
.tab-content .tab-pane .card-clone .card img {
    border-radius: 0;
}
