* {
    font-family: "Electronic Arts Text",  "Verdana", "Helvetica", "Arial", sans-serif;
}

.icon-nav-top {
    font-size: 24px;
    line-height: 27px;
    color: var(--dark-gray);
}


.accordion-button  {
    background-color: white !important;   
    box-shadow: none !important;
}

.btn-close {
    background-color: white !important;   
    box-shadow: none !important;
}

.offcanvas-title {
    color: #aeaeae !important;
    font-size: 18px !important;
}

.offcanvas-title:hover {
    color: red !important;
    cursor: pointer;
}

.accordion-button:hover,.accordion-button:focus{
    color: red !important;
}


.dropdown-menu {
    background-color: #f3f3f3 !important;
    opacity: 95%;
}

.dropdown-menu:focus .dropdown {
    color: red !important;
}


.dropdow-giochi {
    padding-left: 50% !important;
    padding-top: 40px !important;
    width: 450px !important;
    height: 360px !important;
}

.dropdown-item-text {
    font-family: 'ElectronicArtsTextBold';
}

.dropdown-item:hover {
    color: red !important;
    background-color: #f3f3f3 !important;
}

.divider-giochi-1 {
    width: 150px !important;
    margin-left: 10px !important;
}

.divider-giochi-2 {
    width: 115px !important;
    margin-left: 10px !important;
}

.dropdown-item-text {
    padding: 10px !important;
}

#header-main {
    height: 450px;
    width: 100%;
    background-image: url("./Resources/images/eacom-hero-holiday-sale-md-7x2-xl.jpg.adapt.crop7x2.1920w (1).jpg") !important;
    background-repeat: none !important;
    background-size: cover; 
}

#header-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.navbar .navbar-nav .nav-item {
    font-size: 18px;
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: red !important;
}


.navbar .button-menu:hover {
    color: red !important;
}


.title-h1 {
    font-size: 54px !important;
    color: #f3f3f3;
}

.subtitle-h2 {
    font-size: 24px;
    color: #f3f3f3;
    line-height: 36px;
}

.button-header {
    width: 160px;
    height: 60px;
    border-radius: 3px !important;
    margin-top: 20px;
    background-color: white !important;
    border: none !important;
}

.bf-2042-image-bg {
    width: 100vw; 
    height: 112px; 
    background-image: url(./Resources/images/bf-2042-season3-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.title-h2-bf-2042 {
    font-size: 26px;
    color: #f3f3f3;
    line-height: 36px;
}

.bf-2042-button1 {
    width: 160px;
    height: 60px;
    border-radius: 3px !important;
    background-color: transparent !important;
    border: none !important;
    background: url(./Resources/images/bf-2042-white-nav-logo.svg) no-repeat 2px center;

}

.bf-2042-button2 {
    width: 160px;
    height: 60px;
    border-radius: 3px !important;
    background-color: var(--white) !important;
    color: var(--black) !important;
    border: none !important;
}

.offcanvas {
    margin-top: 40px;
}

#ea-play {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2021/04/ea-play-16x9-png.adapt.crop1x1.767w.");
    width: 350px;
    height: 330px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#fifa-23 {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2022/07/eas-fifa22-gen5-ue-keyart-horz-f23logo.jpg.adapt.crop1x1.767w.jpg");
    height: 150px;
    width: 150px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#fi-22 {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2022/05/1-1-gamebox-f122-keyart-1.png.adapt.crop1x1.767w.png");
    height: 150px;
    width: 150px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#mad-23 {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2022/05/madden-23-keyart.jpg.adapt.crop1x1.767w.jpg");
    height: 150px;
    width: 150px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


#apex {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2019/01/apex-legends-keyart.jpg.adapt.crop1x1.767w.jpg");
    height: 150px;
    width: 150px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#battlefield {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2021/06/battlefield-2042-key-art.jpg.adapt.crop1x1.767w.jpg");
    height: 150px;
    width: 150px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#simps-4 {
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-4-keyart.jpg.adapt.crop1x1.767w.jpg");
    height: 150px;
    width: 150px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.logo-side-hover-effect:hover {
    transform: scale(1.20);
    transition: transform 400ms ease-in-out;
    cursor: pointer;
}

.column {
    column-count: 2;
    width: 500px;
    height: 300px;
  }

#icon-offset-navbar {
    gap: 300px;
}
#icon-offset-navbar2 {
    padding-top: 20px;
    gap: 50px;
}

.offcanvas {
    height: 420px !important;
}

.btn-close {
    font-size: 12px !important;
    color: black !important;
    
}

#offcanvasTop, #offcanvasTop2{
    height: 400px;
}

#userAccount {
    text-decoration: none;
}


#help-nav {
color: red;
text-decoration: none;
}

#help-center-nav {
    color: white;
}

#help-title-navbar {
    font-weight: 900;
    font-size:16px;
    text-align: center;
    color: white
    
}

.mobileMenuLink a{
    text-decoration: none  !important;
    color: grey !important;
    
}

.mobileMenuLink:hover{
    color: red !important;
}

.mobileMenu {
    display: none !important;
}

.dot-menu:hover {
    transform: scale(1.30);
    transition: transform 300ms ease-in-out;
}

.btn-close-mobile-menu {
    background-color: transparent !important;
    border: solid 1px black !important;
    border-radius: 50px !important;
}

#offcanvasExampleLabel {
    margin-top: -2px !important;
}

.accordion-button:not(.collapsed)::after {
    color: red !important;
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-item {
    border-color: black !important;
}

.list-group-item a:hover {
   color: red !important;
}

.offcanvas.offcanvas-start {
    top: 8px !important;
}

.list-mobile-giochi .list-group-item{
    font-size: 14px !important;
    border: none !important;
}

.list-group-item.mobileMenuLink.menu-title:hover {
    color: black !important;
}

.title-h2-bf-2042 {
    max-width: 550px;
}

.saldiFestivi {
    font-family: 'ElectronicArtsTextBold';
}




/* Breackpoints -------------------------------------------------------------------------------------*/



@media  only screen and (max-width:1200px) {
    #header-main {
        height: 450px;
        width: 100%;
        background-image: url("./Resources/images/ea-760px.jpg") !important;
        background-repeat: none !important;
        background-size: cover; 
    }
    
    .mobileMenu {
        display: inline !important;
        border: none !important;
        margin-left: -20px !important;
    }

    .button-menu, .navbar-toggler {
        display:none !important;
    } 

    .navbar-brand {
        justify-content: start !important;
    }

    .btn.mobileMenu {
        padding: 0;
        margin: 0;
    }

    .btn-mobile {
        width: 60px !important;
        top: 10px;
    }
    
    .navbar-mobile {
        justify-content: start !important;
    }

   
}


@media only screen and (max-width: 1400px) {
    #header-main {
        height: 450px;
        width: 100%;
        background-image: url("./Resources/images/ea-760px.jpg") !important;
        background-repeat: none !important;
        background-size: cover; 
    }

}


@media only screen and (max-width: 1024px) {
    
    .bf-2042-image-bg {
        display: flex;
        flex-direction: column;
        width: 100vw; 
        height: 160px; 
        background-image: url(./Resources/images/bf-2042-season3-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .title-h2-bf-2042 {
        font-size: 24px;
        font-family: 'ElectronicArtsTextBold';
        max-width: 800px;
        margin-bottom: 0;
        padding-top: 20px;
    }

    .bf-2042-buttons {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 820px) {
    
    .bf-2042-image-bg {
        display: flex;
        flex-direction: column;
        width: 100vw; 
        height: 190px; 
        background-image: url(./Resources/images/bf-2042-season3-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .title-h2-bf-2042 {
        font-size: 24px;
        font-family: 'ElectronicArtsTextBold';
        text-align: center;
        max-width: 600px;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .bf-2042-buttons {
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 960px) {
    #header-main {
        height: 450px;
        width: 100%;
        background-image: url("./Resources/images/ea-760px.jpg") !important;
        background-repeat: none !important;
        background-size: cover; 
    }

}

@media only screen and (max-width: 760px) {
    #header-main {
        height: 1200px;
        width: 100%;
        background-image: url("./Resources/images/ea-mobile.jpg") !important;
        background-repeat: none !important;
        background-size: cover; 
    }

    .bf-2042-image-bg {
        display: flex;
        flex-direction: column !important;
        height: 300px;
        justify-content: center;
        align-content: center;
        gap: 1px;
        padding-top: 50px;
        text-align: center;

    }

    .bf-2042-buttons {
        flex-direction: column;
        padding-bottom: 50px;
    }

    .logo-nav-mobile {
        width: 50px !important;
    }

    .brand-logo {
        width: 100px !important;
        margin-top: 6px !important;
    }

}
