@import "design.css";
@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
@font-face {font-family: "Electronic Arts Text"; 
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot"); 
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text") format("svg"); 
}

:root{
    --black: #161616;
    --red-hover: #ff4d4c;
    --footer-red: #ff4646;
    --light-grey: #f3f3f3;
    --white: #FFFFFF;
    --light-blue: #6fb1d5;
}

body{
    font-family: "Electronic Arts Text",  "Verdana", "Helvetica", "Arial"; 
}
/*
       TEXT AND BACKGROUND COLORS
*/
.black-font{
    color: var(--black);
}
.black-background{
    background-color: var(--black);
}
.hover-red{
    color: var(--red-hover);
}
.white-background{
    background-color: var(--white);
}
.white-font{
    color: var(--white);
}
.light-grey-background{
    background-color: var(--light-grey);
}
.light-grey-font{
    color: var(--light-grey);
}
.light-blue-background{
    background-color: var(--light-blue);
}

/*
        HOVER EFFECTS
*/
.red-hover:hover {
    color: var(--red-hover);
}
 
/*
         BUTTONS
*/
.button-filled{
    border: none;
    border-radius: 3px;
    padding: 12px, 24px, 12px, 24px;
    font-size: 16px;
}
.button-empty{
    background:rgba(0,0,0,0);
    border: 2px solid;
    border-radius: 3px;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
}

.button-empty:hover, .button-filled:hover{
    padding: 14.5px 26.5px 14.5px 26.5px !important;
    transition: 200ms ease-in-out;
}

/*
   GIOCHI IN EVIDENZA
*/
.giochi-in-evidenza{
    font-family: "Electronic Arts Text",  "Verdana", "Helvetica", "Arial"; 
}

.gioco{
    width: auto;
    position: relative;
    height: max-content;
    margin-top: 0px;
    margin-bottom: -120px;
    overflow: hidden;   
}



.gioco-logo{
    width: 43%;
}

.gioco-sito-ufficiale{
    position:relative;
    bottom: 160px;
    left:0%;
    height: 120px;
    gap:15px;
}

.gioco:hover .gioco-sito-ufficiale{
    bottom: 215px;
    transition: bottom 0.4s ease-in-out;
}


.gioco:hover .gioco-logo{
    margin-bottom: 13px;
    transition: margin-bottom 0.4s ease-in-out;
}

.giochi-wrapper{
    margin-top: 30px !important;
    margin-bottom: 30px !important;    
}
.gioco:hover .gioco-bg{    
    opacity: 0.18;
    transition: opacity 400ms ease-in-out;
}

.gioco:hover .gradient{
    background: linear-gradient(to right, rgb(0, 0, 82), rgb(255, 53, 13));
    filter:brightness(90%);
    transition:background-color 0.4s ease-in-out;
}

.gioco .sito-ufficiale {
    visibility: hidden;
}

.gioco:hover .sito-ufficiale {
    visibility: visible;
    margin-top: -8px;
    transition: margin-top 0.4s ease-in-out
}

.sito-ufficiale{
    margin-top: -50px;
 }

.gioco-bg{
    height: 100%;
    width: 100%;
    filter: brightness(68%);
}

.sito-ufficiale{
    text-decoration: none;
    color:white;
}

.sito-ufficiale:hover{
    text-decoration: none;
    color:white
}

.giochi-wrapper h3{
    font-weight: 900;
    font-size: 40px;
    color:var(--black);    
    text-shadow: 1px 0 var(--black);
    letter-spacing:1px;
    font-weight:bold;
    margin-bottom: 38px;
}

.ultimi-giochi{
    margin-top: 20px;
    position: relative;
}

.ultimi-giochi:hover{
    margin-top: 17.5px;
}

/*
       RESPONSIVE
*/
@media only screen and (min-width:1024px){
    .button-filled{
        font-size: 18px !important;
    }
    .button-empty{
        font-size: 18px !important;
    }
}

@media only screen and (min-width:768) and (max-width:1024px) {}

@media only screen and  (max-width:768px) {}

