@import "design.css";
@import url(//db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
@font-face {font-family: "Electronic Arts Text"; 
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot"); 
    src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text") format("svg"); 
}

:root{
    --black: #161616;
    --red-hover: #ff4d4c;
    --footer-red: #ff4646;
    --light-grey: #f3f3f3;
    --white: #FFFFFF;
    --light-blue: #6fb1d5;
}

body{
    font-family: "Electronic Arts Text",  "Verdana", "Helvetica", "Arial", sans-serif; 
}

.black-font{
    color: var(--black);
}

.black-background{
    background-color: var(--black);
}

.hover-red{
    color: var(--red-hover);
}

.hover-red-background{
    background-color: var(--red-hover);
}

.footer-red-font{
    color: var(--footer-red);
}

.footer-red-background{
    background-color: var(--footer-red);
}

.white-background{
    background-color: var(--white);
}

.white-font{
    color: var(--white);
}

.light-grey-background{
    background-color: var(--light-grey);
}

.light-grey-font{
    color: var(--light-grey);
}

.black-background{
    background-color: var(--black);
}

.light-blue-font{
    color: var(--light-blue)
}

.light-blue-background{
    background-color: var(--light-blue);
}

.red-hover:hover {
    color: var(--red-hover);
 }
 

.button-filled{
    border: none;
    border-radius: 3px;
    padding: 12px, 24px, 12px, 24px;
}

.button-empty{
    background:rgba(0,0,0,0);
    border: 2px solid;
    border-radius: 3px;
    padding: 12px, 24px, 12px, 24px;
}

.button-empty:hover, .button-filled:hover, i:hover{
    transform: scale(1.05);
    transition: transform 300ms ease-in-out;
}

@media only screen and (min-width:1024px) and (max-width:949px) {

}

@media only screen and (min-width:768) and (max-width:1024px) {
     
}

@media only screen and  (max-width:768px) {
     
}

