@import "style.css";

body {
  margin: 0;
  max-width: 100vw;
}

.ultime-novita {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.title-section > h3 {
  font-size: 44px;
  font-weight: 900;
  font-family: "Electronic Arts Text", Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  color: var(--black);
}

#nav-tab {
  border: none;
  margin-top: 35px;
}

#nav-tab > button {
  border: none;
  color: var(--black);
  margin: 0;
  padding: 0;
}

#nav-tab > button > p {
  border-right: 2px solid rgba(181, 175, 175, 0.4);
  font-family: "Electronic Arts Text", Verdana, Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 0 20px 15px 20px;
  margin: 0;
}

#nav-tab > button:last-of-type > p{
  border-right: none;
}

#nav-novita-container{
  border-bottom: 1px solid rgba(181, 175, 175, 0.6);
}

nav{
  display: flex;
  justify-content: center;
  min-width: 100%;
}

#nav-tab{
  min-width: 35%;
}

/** To be replaced with ultime-novita-cards section */
#nav-tabContent{
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100vw;
}

.cards-container > .cards-col{
  padding: 50px;
}

.cards-container > .cards-col > .card-space{
  margin-bottom: 50px;
}

